// Footer.scss

.footer {
    margin-top: 40px;
    width: 100%;
    // position: absolute;
    color:black;
    bottom: 0;
    background-color: whitesmoke; // Remplacez par la couleur de fond souhaitée
  
    .game-info {
      margin-left: 16px; // Ajustez selon votre mise en page
      margin-right: 16px; // Ajustez selon votre mise en page
      text-align: center;
    }
  }
  