
* {
  margin: 0;
  font-family: Righteous!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: Righteous;
  src: url(./assets/fonts/Righteous-Regular.ttf);
}


body {
  padding-bottom: 100px!important;
}