
* {
  margin: 0;
  font-family: Righteous!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: Righteous;
  src: url(./assets/fonts/Righteous-Regular.ttf);
}




@media screen and (max-width:906px) {
  body {
    padding-bottom: 60px!important;
  }
}

body{
  min-height: 100vh!important;
}
